body {
	background-color:#2c160b;
	font-family:Oswald;
}
#casaricaform {
	padding:20px;
}
#casaricaform label{
	color:#fff;
	text-transform:uppercase;
	font-size:18px;
}
#casaricaform #head {
	padding-bottom:30px;
}
#casaricaform .thetitle {
	font-size:40px;
	color:#fff;
	text-transform:uppercase;
}
#casaricaform .button {
	background-color:#fff;
	color:#000;
	font-size:30px;
	width:100%;
}

#casaricaform .row{
	padding-bottom:30px;
}

#casaricaform .direccion {
	height:110px;
}
#guardando {
	display:none;
	color:#fff;
}